/* Write your CSS here */
.layout-div {
  flex-grow: 1;
  width: 100%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
}
.layout-content {
  flex-grow: 1;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
